{% extends "AdminSide/index.html" %}
{% block content %}
<div class="content-wrapper">
  <div class="row">
<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Update Category</h4>
      <p class="card-description">
        Fill all the details below
      </p>
      <form class="forms-sample" method="post" action="{% url 'update-category' pk=selected_category.id %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputUsername1">Category Name</label>
          <input type="text" class="form-control" name="categoryname" value="{{selected_category.category_name}}" id="exampleInputUsername1" placeholder="Category Name">
        </div>
        <div class="form-group"> 
          <label for="exampleInputPassword1">Previous Category Image</label>
          <br>
          <img src="{{selected_category.category_image.url}}" width="200px" height="200px">
      </div>
      
        <label for="exampleInputUsername1">category Image</label>
        <input type="file" class="form-control" name="categoryimage" id="exampleInputUsername1" placeholder="Category Image">
      </div>
     
        <button type="submit" class="btn btn-primary me-2">Update</button>
      </form>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}