{% extends "Userside/index.html" %}
{% block content %}
{% load static %}
<div class="container-fluid pt-5">
    
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">About Us </span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-12 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Get In Touch</h5>
            <p style="text-align: justify;">An e-commerce app provides a seamless platform for users to browse, purchase, and manage products from the convenience of their mobile devices. It enables businesses to reach a wider audience, offering various products and services in one place. With intuitive navigation, secure payment options, and personalized experiences, the app enhances customer satisfaction and loyalty. Additionally, features like real-time tracking, notifications, and customer support make online shopping more accessible and enjoyable.</p>
            <h5 class="font-weight-semi-bold mb-3">Features Of Our Project</h5>
            <p>
                <ul>
                    <li><b>User-Friendly Interface:</b> Easy navigation and intuitive design for seamless browsing.</li>
                    <li><b>Secure Payment Gateway:</b> Supports multiple payment methods with high-level security.</li>
                    <li><b>Personalized Recommendations:</b> AI-driven suggestions based on user behavior.</li>
                    <li><b>Push Notifications:</b> Alerts for order updates, promotions, and offers.</li>
                    <li><b>Favourite list:</b> Save items for future purchases.</li>
                    <li><b>Customer Reviews & Ratings:</b> User feedback to help others make informed decisions.</li>
                    <li><b>Search & Filter Options:</b> Advanced search with filters for refined product discovery.</li>
                </ul>
            </p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Address</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Near Hotel Presidence, 146001, Ramgarhia Chowk, Hoshiarpur</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>o7services@gmail.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+91 7340724356</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}