{% extends "Userside/user_index.html" %}
{% block content %}
<div class="container-fluid pt-5">
   <div class="text-center mb-4">
      <h2 class="section-title px-5"><span class="px-2">Login to your account</span></h2>
   </div>
   <div class="row justify-content-center px-xl-5">
      <div class="col-lg-6 col-md-8 mb-5 mx-auto">
         <div class="contact-form">
            <div id="success"></div>
            {% if messages %}
            <ul class="messages">
               {% for message in messages %}
               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'user-login' %}" method="post">
               {% csrf_token %}
               <div class="control-group">
                  <input type="text" class="form-control" name="username" placeholder="Your Username">
                  <p class="help-block text-danger"></p>
               </div>
               <div class="control-group">
                  <input type="password" id="passwordField" class="form-control" name="password" placeholder="Your Password">
                  <p class="help-block text-danger"></p>
               </div>
               <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="togglePassword">
                  <label class="form-check-label" for="togglePassword">Show Password</label>
               </div>
               <div>
                  <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Login</button>
               </div>
               <p class="help-block text-danger">Don't have an account? 
                  <a class="text-dark font-weight-semi-bold" href="{% url 'user-register' %}">Register Here</a>
               </p>
            </form>
         </div>
      </div>
   </div>
</div>

<script>
document.getElementById("togglePassword").addEventListener("change", function() {
   var passwordField = document.getElementById("passwordField");
   if (this.checked) {
      passwordField.type = "text";
   } else {
      passwordField.type = "password";
   }
});
</script>
{% endblock %}