{% extends "Userside/user_index.html" %}
{% block content %}
<div class="container-fluid pt-5">
   <div class="text-center mb-4">
      <h2 class="section-title px-5"><span class="px-2">Login to your account</span></h2>
   </div>
   <div class="row justify-content-center px-xl-5">
      <div class="col-lg-6 col-md-8 mb-5 mx-auto">
         <div class="contact-form">
            <div id="success"></div>
            {% if messages %}
            {% for message in messages %}
            <div class="col-lg-12 mb-3" id="success"  style="color:white; background-color: #4CAF50; height: 40px; width: 800px; border-radius: 2px;">
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %} style="position: absolute; top: 20%;">{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            <form action="{% url 'user-login' %}" method="post">
               {% csrf_token %}
               <div class="control-group">
                  <input type="text" class="form-control custom-border" name="username" placeholder="Your Username">
                  <p class="help-block text-danger"></p>
               </div>
               <div class="control-group">
                  <input type="password" id="passwordField" class="form-control custom-border" name="password" placeholder="Your Password">
                  <p class="help-block text-danger"></p>
               </div>
               <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="togglePassword">
                  <label class="form-check-label" for="togglePassword">Show Password</label>
               </div>
               <div class="text-center"> <!-- Centering the login button -->
                  <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Login</button>
               </div>
               <p class="help-block text-danger">Don't have an account? 
                  <a class="text-dark font-weight-semi-bold" href="{% url 'user-register' %}">Register Here</a>
               </p>
            </form>
         </div>
      </div>
   </div>
</div>

<style>
    .custom-border {
        border: 2px solid #D19C97;
    }
    .custom-border:focus {
        border-color:#D19C97;
        box-shadow: 0 0 5px #D19C97;
    }
</style>

<script>
document.getElementById("togglePassword").addEventListener("change", function() {
   var passwordField = document.getElementById("passwordField");
   if (this.checked) {
      passwordField.type = "text";
   } else {
      passwordField.type = "password";
   }
});
</script>
{% endblock %}